.git
.gitignore
__pycache__/
*.py[cod]
.venv/
venv/
.ipynb_checkpoints/

*.pdf
*.docx
*.xlsx
*.xls
*.csv
data/
draft/

.vscode/
.idea/
Thumbs.db
desktop.ini

Dockerfile
.dockerignore
docker-compose.yml
README*.md
